{% extends "base.html" %}
{% block title %}Audit Report for {{ object }} | {{ block.super }}{% endblock %}

{% block content %}
<ul>
<li><a href="..">Up</a></li>
</ul>
    <h2>Audit Report for {{ object }}</h2>
<p>Number of audit units: {{ object.contestbatch_set.all|length }}</p>
<p>
Margin of victory is {{ object.margin|floatformat:3 }}%
</p>

<table border="border" cellpadding="5">
<thead>
 {% for contestbatch in object.contestbatch_set.all|dictsort:"batch" %}
  {% if forloop.first %}
   <tr>
   <td>AuditUnit</td>
   <td>Type</td>
   <td>Batches</td>
   <td>Ballots</td>
   <td>Contest Ballots</td>
   {% for votecount in contestbatch.votecount_set.all|dictsort:"choice.name"%}
      <td style="writing-mode: tb-rl;">{{ votecount.choice }}</td>
   {% endfor %}
   </tr>
   <tr>
   <td>Totals</td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   {% for votecount in contestbatch.votecount_set.all|dictsort:"choice.name"%}
      <td style="writing-mode: tb-rl;">{{ votecount.choice.votes }}</td>
   {% endfor %}
   </tr>
  {% endif %}
 {% endfor %}
</thead>
<tbody>
 {% for contestbatch in object.contestbatch_set.all|dictsort:"batch" %}
  <tr>
   <td>{{ forloop.counter|stringformat:"04d" }}</td>
   <td>{{ contestbatch.batch.type }}</td>
   <td>{{ contestbatch.batch.name }}</td>
   <td>{{ contestbatch.ballot_count }}</td>
   <td>{{ contestbatch.contest_ballots }}</td>
   {% for votecount in contestbatch.votecount_set.all|dictsort:"choice.name"%}
     <td><b>{{ votecount.votes }}</b></td>
   {% endfor %}
  </tr>
 {% endfor %}
</tbody>
</table>
{% endblock %}
