include .bzrignore
include ChangeLog
include LICENSE
include README
include ToDo
include doc
include doc/index.html
include doc/model_graph.png
include electionaudits
include electionaudits/__init__.py
include electionaudits/admin.py
include electionaudits/erandom.py
include electionaudits/management
include electionaudits/management/__init__.py
include electionaudits/management/commands
include electionaudits/management/commands/__init__.py
include electionaudits/management/commands/parse.py
include electionaudits/models.py
include electionaudits/parsers.py
include electionaudits/templates
include electionaudits/templates/electionaudits
include electionaudits/templates/electionaudits/contest_detail.html
include electionaudits/templates/electionaudits/contest_list.html
include electionaudits/templates/electionaudits/index.html
include electionaudits/templates/electionaudits/parse.html
include electionaudits/templates/electionaudits/report.html
include electionaudits/templates/electionaudits/reports.html
include electionaudits/templates/electionaudits/results.html
include electionaudits/templates/electionaudits/stats.html
include electionaudits/templates/electionaudits/votecount_detail.html
include electionaudits/templates/electionaudits/votecount_list.html
include electionaudits/tests.py
include electionaudits/urls.py
include electionaudits/util.py
include electionaudits/varsize.py
include electionaudits/views.py
include ez_setup.py
include incoming
include incoming/DELETEME.txt
include root
include root/__init__.py
include root/fixtures
include root/manage.py
include root/settings.py
include root/settings_debug.py
include root/templates
include root/templates/404.html
include root/templates/500.html
include root/templates/base.html
include root/templates/electionaudits
include root/templates/flatpages
include root/templates/flatpages/default.html
include root/urls.py
include setup.py
include testdata
include testdata/profile-0.3.0
include testdata/profile.out
include testdata/t0
include testdata/t0/08general_boulder_zero_000.xml
include testdata/t0/cumulative.pdf
include testdata/t0/p008_lat_ed_001.xml
include testdata/t0/p011_lat_ed_003.xml
include testdata/t0/p014_lat_ed_002.xml
include testdata/t0/report.html
include testdata/t0/reports.html
include testdata/t0/results.html
include testdata/t0/results0.html
include testdata/t0/selections-4.html
include testdata/t0/selections.html
include testdata/t0/test.out
include testdata/test-san-mateo-dp-92-e.csv
include testdata/test-san-mateo-dp-92-e.out
include testdata/test-san-mateo-dp-92-p.csv
include testdata/test-san-mateo-dp-92-p.out
include testdata/testcum-s.out
include testdata/testcum.out
include testdata/testcum.xml
include testdata/testnotes
